@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  font-style: normal;
  src: local("ProximaNova Regular"),
    url("../fonts/ProximaNovaRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-weight: 500;
  font-style: normal;
  src: local("GothamMedium"),
    url("../fonts/GothamMedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-weight: 700;
  font-style: normal;
  src: local("GothamBold"),
    url("../fonts/GothamBold.woff") format("woff");
  font-display: swap;
}