.sprite {
  background-image: url(../img/sprites.png);
  background-repeat: no-repeat;
  display: block;
}

.bg-form_send {
  width: 16px; 
  height: 14px;
  background-position: -10px -42px;
}

.bg-social_dribbbel {
  width: 14px; 
  height: 14px;
  background-position: -10px -76px;
}

.bg-social_linkedin {
  width: 15px; 
  height: 14px;
  background-position: -10px -110px;
}

.bg-social_skype {
  width: 18px; 
  height: 18px;
  background-position: -10px -144px;
}

.bg-social_twitter {
  width: 17px; 
  height: 12px;
  background-position: -10px -10px;
}