.button {
  display: inline-block;
  font-family: $gotham;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #6995a9;
  cursor: pointer;
}