.intro {
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #13858c;
  padding: 170px 0 53px;
}

.intro__title {
  text-align: center;
  font-family: $gotham;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.intro__subtitle {
  margin-top: 33px;
  font-family: $georgia;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}

.intro__btn {
  position: relative;
  display: block;
  margin: 68px auto 0;
  width: 56px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 0;
  border: 24px solid #e6e9e8;
  
  &::after {
    @include pseudo;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 50%;
    border: 3px solid #000000;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    border-left: 0;
    border-top: 0;
  }
}