.work {
  padding: 50px 0 0;
}

.work__title::after {
  width: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.work__list {
  margin: 53px 0 9px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.work__list-item {
  margin-bottom: 60px;
}