.work {
  padding: 50px 0 0;
}

.work__title::after {
  width: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.work__list {
  margin: 53px 0 9px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.work__list-item {
  margin-bottom: 60px;
}

.work__list-link {
  display: block;
  width: 260px;
  height: 170px;
  transition: 0.9s;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 5px 2px #000000;
    transition: 0.9s;
  }
}